@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

*, 
::after, 
::before {
    box-sizing: border-box;

}
body{
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    background: url(../img/Фон\ 1.png)center/cover no-repeat;
    height: 100vh;
    font-size: 14px; 
}

.header {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 58px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.header-menu{
    height: 58px;
    max-width: 1210px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.header-logo {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
   
}
.header-links{
    width: 347px;
    display: flex;
    text-align: center;

}
.header-link-icon{
    margin-right: 27px; 
}
.header-sle{
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
}
.header-text{
    margin-left: 27px;
    width: 176px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo:hover{
    color:#01813F;
    
}

.header-link-icon:hover .icon_color{
    fill:#01813F;
}

.header-text a{
    color: #fff;
}
.header-text a:hover{
    color:#01813F;
}
.content{
    position: relative;
    top: 54px;
    width: 444px;
    height: 584px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    padding: 30px 60px 38px 60px;
    z-index: 2;
}
.content-square{
    position: absolute;
    top: 30px;
    left: 0;
    width: 18px;
    height: 18px;
    background: #3CB878;
}

.content-oll {
    display: grid;
    grid-template-columns: repeat(2, 160px);
    gap: 15px 4px;
}
.check-in {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.Exit {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 14px;
    color: #3CB878;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.social{
    width: 160px;
    height: 48px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    
}
.facebook{
    padding-left: 16px;
    background: #305DB8;
}
.google{
    padding-left: 12px;
    background: #DF4A32;
}

.line_fb{
    margin: 0 18px 0 18px;
    border: 1px solid #0A162F;
    opacity: 0.1;
    display: inline-block;
    height: 28px;
}

.line_google{
    margin: 0 30px 0 8px;
    border: 1px solid #0A162F;
    opacity: 0.1;
    display: inline-block;
    height: 28px;
}


.Exit:hover{
    color: #01813F;
    text-decoration:underline;
}
.google:active{
    background: #AB1F09;
}
.facebook:active{
    background: #022263;
}
.slash {
    margin: 32px 0 10px 0;
    font-family: 'Ubuntu';
    display: flex;
    align-items: center;
    color: #848484;
}
.lain {
    width: 152px;
    height: 0px;
    border: 1px solid #F2F2F2;
    margin-top: 3px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form_inp{ 
    width: 324px;
    height: 45px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 20px;
}
.form_button{
    width: 324px; 
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    margin-top: 5px;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    border: none;
}
.checkbox_arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    cursor: pointer;
    margin-right: 8px;
}

.checkbox_arrow svg{
    display: none;   
}

.checkbox_agree{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
}
.form_checkbox{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    
}

.checkbox_agree:checked+.checkbox_arrow svg {
    display: block;

}
.checkbox_link{
    color: #3CB878;
}

.checkbox_link:hover{
    text-decoration: underline;
    color: #01813F;
}

.form_inp:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.form_button:active{
    background: #01813F;
}